In [33]:
#Find the top 10 major project themes using mjtheme_namecode

import pandas as pd
import numpy as np
import json
import collections
from pandas.io.json import json_normalize

pd.options.display.max_columns = 999
pd.options.display.max_rows = 500

wbproj = pd.read_json('/Users/charlesgreen/desktop/data/World Bank Projects/world_bank_projects.json')

#Viewing df columns
#wbproj

In [34]:
#Viewing df columns, unstack nested 'mjtheme_namecode' column
theme_codes = json_normalize(wbproj.to_dict('list'), ['mjtheme_namecode']).unstack().apply(pd.Series)

#theme_codes

In [22]:
#Check count of individual codes
theme_codes['code'].value_counts()

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
3      15
Name: code, dtype: int64

In [35]:
#Create dictionary to allow to identify theme codes by name.
#Begin with boolean argument to remove NAN values and empty spaces.
nix = (theme_codes['name'] == theme_codes['name']) & (theme_codes['name'] != "")

#theme_codes.loc[~nix]

In [25]:
#Create dictionary cdnms
cdnms = theme_codes.loc[nix].groupby(by='code').first().to_dict()['name']

cdnms

{'1': 'Economic management',
 '10': 'Rural development',
 '11': 'Environment and natural resources management',
 '2': 'Public sector governance',
 '3': 'Rule of law',
 '4': 'Financial and private sector development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '8': 'Human development',
 '9': 'Urban development'}

In [28]:
#Create and label dataframe with code & counts. 
df = pd.DataFrame(theme_codes['code'].value_counts())
df = df.rename(columns={'code': 'Count'})

#Demonstrate index indicates major theme code.
df.index.name = 'Code'

#Add theme name column and reorder columns.
df.loc[:,'Theme Name'] = np.nan
df = df[['Theme Name', 'Count']]

df

      Theme Name  Count
Code
11           NaN    250
10           NaN    216
8            NaN    210
2            NaN    199
6            NaN    168
4            NaN    146
7            NaN    130
5            NaN     77
9            NaN     50
1            NaN     38
3            NaN     15

In [36]:
#Iterate over df by index.
for x in df.index:
    
#Iterate over key/value pairs in code/names (cdmn) dictionary & match to corresponding codes in df index.
    for key, value in cdnms.items():
        if x == key:

#Replace NaN values with theme name from dictionary
            df.loc[x,'Theme Name'] = value

#df

In [32]:
#Top 10 major themes:
df.iloc[:10]

                                        Theme Name  Count
Code
11    Environment and natural resources management    250
10                               Rural development    216
8                                Human development    210
2                         Public sector governance    199
6            Social protection and risk management    168
4         Financial and private sector development    146
7                      Social dev/gender/inclusion    130
5                            Trade and integration     77
9                                Urban development     50
1                              Economic management     38